@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Indie+Flower);


h1 {
  font-family: 'Indie Flower', cursive;
}

li, p, h2 {
  font-family: 'Just Me Again Down Here', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
	width:100%;
	background:#ffd800;
	height:50px;
	line-height:50px;
}

body {
  background: url(/img/black-white.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

/*menu*/

.navbar {
  display: none;
}

.header-item p, i{
  display: inline-block;
  color: #fff;
  margin-left: 15px;
}

.header-item p {
  font-size: 20px;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.cross {
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:10px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.menu {
  z-index:1;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:#ffd800;
  position:absolute;
  text-align:center;}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  color: #000;
}

.menu li {
  font-size: 20px;
  display: block;
  padding:10px 0 10px 0;
  border-bottom:#3d3d3d 1px solid;
}

.menu li:hover {
  display: block;
  background:#fcca02;
  padding:15px 0 15px 0;
  border-bottom:#3d3d3d 1px solid;
}

.menu ul li a {
  text-decoration:none;
  margin: 0px; color:#fff;}


.menu ul li a:hover {
  color: #000;
  text-decoration:none;
}

.menu a {
  text-decoration:none;
  color:#000;
}

.menu a:hover {
  text-decoration:none;
  color:#000;
}

.glyphicon-home {
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


/*home*/


.coke-bottle {
  position: relative;
  width: 100%;
}

.areum h1 {
  font-size: 12vw;
  text-align: center;
  position: absolute;
  top: 0;
  margin: 25vw 0 0 10vw;
  -webkit-transform: rotate(-10deg);
}

.areum i{
  color: black;
  font-size: 12vw;
  position: absolute;
  top: 0;
  margin: 65vw 0 0 55vw;
  -webkit-transform: rotate(-20deg);
}


.my-title {
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background: #ffd800;
  color: #000;
    -webkit-transform: rotate(10deg);
}

.my-title p, i{
  font-size: 8vw;
  color: #000;
}

.my-title p {
  border: 8px dotted #fff;
  margin: 5px 20px;
}

.hello {
  margin: 20px 0;
  width: 100%;
  background: #000;
  padding: 20px 30px;
  color: #fff;
}

.hello h2{
  font-size: 35px;
}

.hello p{
  font-size: 20px;
  text-align: justify;
}

/*footer*/
.footer {
  width: 100%;
  height: 50px;
  background: #000;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}

.footer i {
  flex: 1;
  color: #fff;
  font-size: 30px;
}
.spacer {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
}


/*portfolio*/

.instababy {
  width: 100%;
}

.instababy img {
  width: 100%;
}

.instababy-description {
  width: 100%;
  background: #000;
  margin-top: -5px;
}

.instababy-description p {
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
